<ol class="breadcrumb">
    <li class="active">Smoke Builds</li>
</ol>
<h1 class="page-header">
    <refresh></refresh>Smoke Builds</h1>

<filter></filter>

<loading ng-if="loading"></loading>
<ul class="list-unstyled result-list" ng-if="!loading">
    <li ng-repeat="test_run in user.test_runs | filter:filterText | startFrom: filterText ? 0 : pagination.page * pagination.perPage | limitTo: pagination.perPage">
        <h4>
            <a ng-href="#/smoke-builds/{{test_run.id}}" ng-if="!test_run.locked">{{test_run.build_id}}</a>
            <span class="disabled" ng-if="test_run.locked">{{test_run.build_id}}</span>
            <small> &mdash; {{test_run.created_at | date:'short'}}</small>
        </h4>
    </li>
    <li ng-if="!loading && !user.test_runs.length">No builds found</li>
</ul>

<moon-pager></moon-pager>