body {
	padding-top: 80px;
}

.page-header {
	margin-top: 20px;
}

.test-results {
	height: 500px;
	border: 1px solid @gray-lighter;
}

.ngCanvas {
   width: 100% !important;
   overflow-x: hidden;
}
.ngRow {
   width: 100% !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.result-list {
	min-height: 450px;
}