<div class="text-center" ng-if="!loading && !filterText && pagination.numPages > 1">
    <ul class="pagination">
        <li ng-click="pagination.prevPage()" ng-class="{disabled: pagination.page === 0}">
            <a href>&laquo;</a>
        </li>
        <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
            <a ng-click="pagination.toPageId(n)">{{n + 1}}</a>
        </li>
        <li ng-click="pagination.nextPage()" ng-class="{disabled: pagination.page + 1 >= pagination.numPages}">
            <a href>&raquo;</a>
        </li>
    </ul>
</div>