<!DOCTYPE html>
<html>
<head>
  <title>MoonUnit</title>
  <%= csrf_meta_tags %>
</head>
<body ng-app="moonunit">

<%= yield %>

<section ng-view></section>

<script src="assets/javascripts/lib.js"></script>
<script src="assets/javascripts/templates.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>
